apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-dapamuqu
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-dapamuqu:5ae8f9ed58afead81b660fab15ca853897e7e8b1@sha256:9b7ffd19efce694c8c4e86568097852399eedd756a71eaa7fc09bba75be332db
          name: container-image
